@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-c-black text-white selection:bg-c-pink selection:text-white;
}

html {
  font-family: "Trispace", sans-serif;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  scroll-behavior: smooth;
}

/* width */
html::-webkit-scrollbar {
  width: 20px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #ccc;
  border: 6px solid transparent;
  border-radius: 20px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background-clip: content-box;
  background-color: #555;
  border: 6px solid transparent;
  border-radius: 20px;
}

/* width */
div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
div::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 999px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

[data-effect] {
  transition: all;
  /* transition-duration: 700ms;
  transition-delay: 0; */
}

[data-effect="rotateX"] {
  transform: rotateX(90deg);
}

[data-effect="rotateX"].show {
  transform: rotateX(0deg);
}

[data-effect="rotateY"] {
  transform: rotateY(90deg);
}

[data-effect="rotateY"].show {
  transform: rotateY(0deg);
}

[data-effect="show-zoom"] {
  transform: scale(130%);
  opacity: 0%;
}

[data-effect="show-zoom"].show {
  transform: scale(100%);
  opacity: 100%;
}

[data-effect="show"] {
  opacity: 0%;
}

[data-effect="show"].show {
  opacity: 100%;
}

[data-effect="move-b"] {
  transform: translateY(100%);
  opacity: 50%;
}

[data-effect="move-b"].show {
  transform: translateY(0px);
  opacity: 100%;
}

[data-effect="move-t"] {
  transform: translateY(-100%);
  opacity: 0%;
}

[data-effect="move-t"].show {
  transform: translateY(0px);
  opacity: 100%;
}

[data-effect="move-l"] {
  transform: translateX(-50%);
  opacity: 0%;
}

[data-effect="move-l"].show {
  transform: translateX(0px);
  opacity: 100%;
}

[data-effect="move-r"] {
  transform: translateX(50%);
  opacity: 0%;
}

[data-effect="move-r"].show {
  transform: translateX(0px);
  opacity: 100%;
}

[data-effect="move-rt"] {
  transform: translateY(-50%) scale(0);
  opacity: 0%;
}

[data-effect="move-rt"].show {
  transform: translateY(0px) scale(100%);
  opacity: 100%;
}
